@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
}

body.dark {
  @apply bg-zinc-900;
  @apply text-zinc-50;
}

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}